<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${message.args[0]})})">&nbsp;</div>
    </th:block>
    <p>
        <a href="#" class="btn btn-primary" th:href="@{/tournament/create}">Create new</a>
    </p>
    <p th:unless="${#lists.isEmpty(tournaments)}">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gruppen</th>
                    <th></th>
                </tr>
            </thead>
            <tr th:each="tournament : ${tournaments}">
                <td th:text="${tournament.id}">1</td>
                <td th:text="${tournament.name}">Text ...</td>
                <td>
                    <ul class="list-unstyled" th:each="group : ${tournament.groups}">
                        <li th:text="${group.name}">Team 1</li>
                    </ul>
                </td>
                <td><a href="#" class="btn btn-default" th:href="@{/tournament/} + ${tournament.id} + '/group/add'">Neue Gruppe</a></td>
            </tr>
        </table>
    </p>
</div>
</body>
</html>